* {
  background-color: bisque;
}

head {

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header ul li{
  background-color: black;
  color: bisque;
  display: inline;
  line-height: 100px;
  margin-left: 90px;
  border-radius: 15px;
}

header ul li:first-child {
  margin-left: 30px;
}

section {
  background-color: black;
  color: bisque;
  margin: auto;
  display: inline;
  font-weight: bolder;
  font-size: large;

}

ul {
  font-weight: bold;
  
}



table {
  background-color:whitesmoke;
  border: 1px solid black;
}

th, td {
  padding: 15px;
  border: 1px solid black;

}

td {
  background-color: lightgray;
  text-align: right;
}

th {
  background-color: gray;
}
